// @import "tailwindcss";
@use "tailwindcss";
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

$light-bg: #ffffff;
$light-fg: #171717;

$dark-bg: #0a0a0a;
$dark-fg: #ededed;

:root {
  // Default (light mode) variables
  --background: #{$light-bg};
  --foreground: #{$light-fg};
  // Dark mode variables
  @media (prefers-color-scheme: dark) {
    --background: #{$dark-bg};
    --foreground: #{$dark-fg};
  }
}

// Inline theme variables (Framework-specific rule)
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
